@model IEnumerable<Book>



<div>
    @await Component.InvokeAsync("Search", new { actionName = "NotConfirmed", areaName = "Admin", controllerName = "Books" })
</div>    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortStory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranslatorTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            
            <td class="w-25">
                @if (item.ImageIsUploaded)
                {
                    <img class="mw-100" src="https://dl.aosasori.com/BookImages/@(item.Image)" alt=" کتاب @item.Name" />
                }
                else
                {
                    <img class="mw-100" src="~/DefaultImages/Default.png" alt=" کتاب @item.Name" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortStory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TranslatorTeam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="AddToCategory" asp-route-id="@item.Id">اضافه کردن ژانر</a>|
                <a asp-action="Detail" asp-controller="Books" asp-route-id="@item.Id">جزئیات</a>
                <br />
                <form asp-action="Confirm" asp-controller="Books">
                    <input type="hidden" value="@item.Id" name="id" />
                    <input type="submit" value="تایید" class="btn btn-danger" />
                </form>|
            </td>
        </tr>
}
    </tbody>
</table>
